%h1 Sessions#login

= form_tag ({controller: "sessions", action: "login_attempt"}) do
  .field
    = label_tag :email
    = text_field_tag :email
  .field
    = label_tag :login_password
    = password_field_tag :login_password
  .actions
    = submit_tag 'Login'