.row.spacer
.row.center
  .col-md-5.col-md-offset-3
    = form_for @user, html: {class: "form-horizontal"} do |f|
      .row
        .col-md-4.col-md-offset-5
          %h3= t('information')
      .row.spacer
      .form-group
        = f.label t(:name), nil, class: "control-label col-md-3"
        .col-md-9
          = f.text_field :name, class: "form-control"
      .form-group
        = f.label t(:email), nil, class: "col-md-3 control-label"
        .col-md-9
          = f.email_field :email, class: "form-control"
      .form-group
        = f.label t('phone'), nil, class: "col-md-3 control-label"
        .col-md-9
          = f.telephone_field :phone, class: "form-control"
      .form-group
        = f.label t('county'), nil, class: "col-md-3 control-label"
        .col-md-9
          = f.select(:county_id , options_for_select(County.all.map { |x| [x.name, x.id] }, @user.county_id), {}, class: 'county-select form-control')
      .form-group
        = f.label t('parish-town'), nil, class: "col-md-3 control-label"
        .col-md-9
          = f.select(:parish_town, grouped_options_for_select(@location_params[:parishes_and_towns], @user.parish_town || @user.town_id), {}, class: 'parish-town-select form-control')
      .form-group
        = f.label t('profile-photo'), nil, class: "col-md-3 control-label"
        .col-md-9
          = f.text_field :profile_photo, class: "form-control"
      .form-group
        = f.label t(:availability), nil, class: "col-md-3 control-label"
        .col-md-9.text-left
          %br
          = f.check_box :availability
      .row.spacer
      .row
        .col-md-4.col-md-offset-5
          %h3= t('description')
      .row.spacer
      .form-group
        = f.label t('about'), nil, class: "col-md-3 control-label"
        .col-md-9
          = f.text_area :about, class: "form-control", rows: "5"
          .small.text-muted.text-left
            = t('explanation.about')
      .form-group
        = f.label t('suitable-dogs'), nil, class: "col-md-3 control-label"
        .col-md-9
          = f.text_area :suitable_dogs, class: "form-control", rows: "5"
          .small.text-muted.text-left
            = t('explanation.suitable-dogs')
      .form-group
        = f.label t('home-description'), nil, class: "col-md-3 control-label"
        .col-md-9
          = f.text_area :home_description, class: "form-control", rows: "5"
          .small.text-muted.text-left
            = t('explanation.home-description')
      .form-group
        = f.label t('family'), nil, class: "col-md-3 control-label"
        .col-md-9
          = f.text_area :family, class: "form-control", rows: "5"
          .small.text-muted.text-left
            = t('explanation.family')
      .form-group
        = f.label t('experience'), nil, class: "col-md-3 control-label"
        .col-md-9
          = f.text_area :experience, class: "form-control", rows: "5"
          .small.text-muted.text-left
            = t('explanation.experience')
      .actions.text-right
        = f.submit t('edit'), class: "btn btn-info"
      .row.spacer

= javascript_include_tag 'location_selects'