= form_for @user do |f|
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :email
    = f.email_field :email
  .field
    = f.label :phone
    = f.telephone_field :phone
  .field
    = f.label :county
    = f.select(:county_id , options_for_select(County.all.map { |x| [x.name, x.id] }, @user.county_id))
  .field
    = f.label :parish
    = f.text_field :parish
  .field
    = f.label :town
    = f.text_field :town
  .field
    = f.label :profile_photo
    = f.text_field :profile_photo
  .field
    = f.label :availability
    = f.check_box :availability
  .field
    = f.label :about
    = f.text_area :about
  .field
    = f.label :suitable_dogs
    = f.text_area :suitable_dogs
  .field
    = f.label :home_description
    = f.text_area :home_description
  .field
    = f.label :family
    = f.text_area :family
  .field
    = f.label :experience
    = f.text_area :experience
  .actions
    = f.submit 'Save'
