= form_for @user do |f|
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :email
    = f.email_field :email
  .field
    = f.label :phone
    = f.telephone_field :phone
  .field
    = f.label :county
    = f.select(:county_id , options_for_select(County.all.map { |x| [x.name, x.id] }, @user.county_id), {}, class: 'county-select')
  .field
    = f.label :parish
    = f.select(:parish, options_for_select(@location_params[:parishes_and_towns], @user.parish_id || @user.town_id), {}, class: 'parish-select')
  .field
    = f.label :town
    = f.select(:town, options_for_select('1', '2'), class: 'town-select')
  .field
    = f.label :profile_photo
    = f.text_field :profile_photo
  .field
    = f.label :availability
    = f.check_box :availability
  .field
    = f.label :about
    = f.text_area :about
  .field
    = f.label :suitable_dogs
    = f.text_area :suitable_dogs
  .field
    = f.label :home_description
    = f.text_area :home_description
  .field
    = f.label :family
    = f.text_area :family
  .field
    = f.label :experience
    = f.text_area :experience
  .actions
    = f.submit 'Save'

= javascript_include_tag 'location_selects'