.row.center
  %h1.center
    = @user.name
  = @user.county
  - if @user.parish
    \/
    = @user.parish
  - if @user.town
    \/
    = @user.town

.row.center
  - if @current_user
    = link_to t('edit'), edit_user_path(@user)
.row.spacer

.container
  .row
    .col-md-3.col-md-offset-2
      %p
        = @user.profile_photo
      %h5
        = @user.email
      %h5
        = @user.phone
      %p
        %b Availability:
        = @user.availability
    .col-md-6
      %h4
        = t('about')
      %p
        = @user.about
      %h4
        = t('suitable-dogs')
      %p
        = @user.suitable_dogs
      %h4 
        = t('home-description')
      %p  
        = @user.home_description
      %h4
        = t('family')
      %p
        = @user.family
      %h4
        = t('experience')
      %p
        = @user.experience




